.not-found{
    height: 90dvh;
    background: var(--bg-404);
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.not-found:not(:empty) ~ footer {
    animation: footer-disapear 2s cubic-bezier(0.000, -0.010, 0.590, -0.600);
    display: none;
}

.not-found>h1{
    z-index: 100;
    font-size: calc(20px + min(10dvh,10dvw));
    text-align: center;
    font-family: var(--title-font);
}

.not-found>.train{
    position: absolute;
    bottom: 8%;
    animation: move-train 2s;
    right: -50dvw;
    z-index: 50;
}

.not-found>.arbre{
    position: absolute;
    bottom: 8%;
    left: -30dvw;
    z-index: 10;
}

.not-found>.clouds{
    position: absolute;
    left: -30dvw;
}

.not-found>.ground{
    position: absolute;
    bottom: 0;
    width: 100dvw;
    height: 8dvh;
    background: linear-gradient(0deg, rgba(6,70,0,1) 45%, rgb(9, 129, 0) 100%);
}

@keyframes move-train {
    from{
        right: -100dvw;
    }to{
        right: -50dvw;
    }
}

@keyframes tree-move {
    from{
        left: -30dvw;
    }to{
        left: 100dvw;
    }
}

@keyframes cloud-move {
    from{
      left: -20dvw;
    }to{
      left: 100dvw;
    }
}

@keyframes footer-disapear {
    from{
        display: flex;
        transform: translateY(0);
    }to{
        display: flex;
        transform: translateY(20dvh);
    }
}