.compte {
    margin: 1rem 1rem 5rem 1rem;
    overflow-y: auto;
    height: 75vh;
}

.form-container {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: auto;
    background-color: var(--train-white);
    padding: 20px;
    border-radius: var(--border-radius);
}