.compte {
    margin: 1rem 1rem 5rem 1rem;
    overflow-y: auto;
    height: 75vh;
}

.form-container {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: auto;
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
}